.section-header
	.logo
		a(href='#')
			img(src='img/logo/logo.png', alt= title width= width)
	.navigation
		ul
			li
				a(href='index.html')
					| Главная
					br 
					span
						| Добро пожаловать
			li
				a(href='appartment-page.html')
					| Аппартаменты 
					br 
					span
						| Выбор номера
			li
				a(href='contacts.html')
					| Контакты 
					br 
					span
						| Напишите нам
			li.reservation-btn.custom-color-btn-back
				a(href='#')
					| Бронирование 
					br 
					span
						| Забронировать номер

